/* ========================BUTTONS-ICONS====================== */

.btn {
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  border: none;
  border-radius: 74px;
  padding: 12px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__orange-gradient {
  background: linear-gradient(145deg, #ffc226 0%, #f84119 100%);
  color: var(--background);
}

.btn.btn__orange-gradient:hover,
.btn.btn__orange-gradient:active {
  background: var(--white);
  color: var(--orange);
  border: 1px solid var(--orange);
}

.btn__black {
  background: var(--background);
  color: var(--white);
  border: 1px solid var(--orange);
}

.btn.btn__black:hover,
.btn.btn__black:active {
  background-color: var(--white);
  color: var(--orange);
  border-color: var(--background);
}
.btn__grey {
  background: var(--secondary-black-grey);
  color: var(--grey);
  border: 1px solid;
  border-color: var(--grey-white-theme);
}

.btn.btn__grey:hover,
.btn.btn__grey:active {
  background: var(--white);
  color: var(--orange);
  border: 1px solid var(--orange);
}

.btn__white {
  background: var(--white);
  color: var(--black);
  border: 1px solid;
  border-color: #f84119;
}

.btn.btn__white:hover,
.btn.btn__white:active {
  background-color: var(--black);
  color: var(--orange);
  border-color: var(--background);
}
.btn__nav-page {
  width: auto;
  height: auto;
  padding: 0 10px;
  font-size: 50px;
  font-weight: 400;
  background: transparent;
  color: var(--grey);
  border: none;
}

.btn.btn__nav-page:hover,
.btn.btn__nav-page:active {
  background: transparent;
  color: var(--orange);
  border: none;
}

.btn__small {
  font-size: 12px;
  line-height: 1.33333;
}

.btn__hero-1,
.btn__hero-2 {
  width: 117px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 74px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__hero-1 {
  background: linear-gradient(145deg, #ffc226 0%, #f84119 100%);
  color: var(--background);
}

.btn__hero-1:hover,
.btn__hero-1:active {
  color: var(--orange);
  background: var(--white);
  border: 1px solid var(--orange);
}

.btn__hero-2 {
  background: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

.btn__hero-2:hover,
.btn__hero-2:active {
  color: var(--background);
  background: var(--white);
}

.search {
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.btn__search_black {
  background: linear-gradient(145deg, #ffc226 0%, #f84119 100%);
  color: white;
}
.search.btn__search_black:hover,
.search.btn__search_black:active {
  background-color: white;
  background: none;
  color: #f84119;
  border: 1px solid #f84119;
}
.icon {
  fill: none;
  stroke: var(--white);
}
.search.btn__search_black:hover .icon path {
  stroke: url(#myGradient);
}
.hero-star {
  width: 16px;
  height: 16px;
  gap: 8px;
}
.card-star,
.star {
  width: 14px;
  height: 14px;
}

/* ----------------------------- responsive -------------------------- */

/* ----------------------------------------------------------------------------------------------------TABLET */
@media (min-width: 768px) and (max-width: 1279px) {
  .btn__big {
    font-size: 14px;
  }
  .btn__hero-1,
  .btn__hero-2 {
    width: 128px;
    height: 40px;
    font-size: 14px;
  }
  .hero-star {
    width: 20px;
    height: 20px;
  }
  .card-star,
  .star {
    width: 10px;
    height: 10px;
  }
}

/* ----------------------------------------------------------------------------------------------------DESKTOP */
@media (min-width: 1280px) {
  .btn__big {
    font-size: 18px;
    line-height: 1.55556;
  }
  .btn__semi-medium {
    font-size: 16px;
    line-height: 1.5;
  }
  .btn__medium {
    font-size: 14px;
    line-height: 1.14286;
  }
  .btn__hero-1,
  .btn__hero-2 {
    width: 139px;
    height: 48px;
    font-size: 16px;
  }
  .hero-star {
    width: 24px;
    height: 24px;
  }
  .card-star,
  .star {
    width: 18px;
    height: 18px;
  }
}
