/* ========================FETCH-API DRAFT====================== */
.fetch-api__movie-draft {
  display: flex;
  flex-wrap: wrap;
}

.fetch-api__movie-draft-item {
  max-width: 200px;
  height: 100%;
}
