.hero {
  padding-bottom: 80px;
}

@media (width < 768px) {
  .hero__background {
    width: 320px;
    height: 380px;
    background: linear-gradient(82deg, #111 28.7%, rgba(17, 17, 17, 0) 100%),
    url('../images/hero_mobile.png') no-repeat center center;    
    background-size: cover, cover;
  }

  .hero__text-1 {
    padding-top: 40px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    color: var(--white);
  }
  .movielist__rating-hero {
    display: flex;
    padding-top: 12px;
    list-style-type: none;
  }
  .hero__text-2 {
    padding-top: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-text);
  }
  .buttons {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    // gap: 8px; zmienia wysokość przycisków
  }
}

/* ----------------------------------------------------------------------------------------------------TABLET */
@media (width >=768px) and (width < 1280px) {
  .hero__background {
    width: 768px;
    height: 432px;
    background: linear-gradient(75deg, #111 9.77%, rgba(17, 17, 17, 0) 100%),
    url('../images/hero_tablet.png') no-repeat left center;
    background-size: cover, cover;
  }
  .hero__text-1 {
    padding-top: 36px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 44px;
    color: var(--white);
  }
  .movielist__rating-hero {
    display: flex;
    padding-top: 24px;
    list-style-type: none;
  }
  .hero__text-2 {
    padding-top: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-text);
    width: 295px;
  }
  .buttons {
    padding-top: 28px;
    display: flex;
    gap: 8px;
  }
}

/* ----------------------------------------------------------------------------------------------------DESKTOP */

@media (width >=1280px) {
  .hero__background {
    width: 1280px;
    height: 720px;
    background: linear-gradient(82deg, #111 28.55%, rgba(17, 17, 17, 0) 100%),
    url('../images/hero_desktop.png') no-repeat left center; 
    background-size: cover, cover;
  }
  .hero__text-1 {
    padding-top: 118px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    color: var(--white);
  }
  .movielist__rating-hero {
    display: flex;
    padding-top: 32px;
    list-style-type: none;
    gap: 4px;
  }
  .hero__text-2 {
    padding-top: 28px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--secondary-text);
    width: 364px;
  }
  .buttons {
    padding-top: 36px;
    justify-content: flex-start;
    display: flex;
    gap: 8px;
  }
}
