@import './normalization.scss';
@import './css-variables.scss';

@import './buttons-icons.scss';
@import './catalog.scss';
@import './footer.scss';
@import './header.scss';
@import './hero.scss';
@import './modal.scss';
@import './movie-list.scss';
@import './upcoming.scss';
@import './my-library.scss';
@import './mixin.scss';
@import './footer-modal-team';
@import './scroll-up.scss';
@import './loader.scss';
@import './light-mode.scss';

body {
  background-color: var(--background);
}

/* ----------------------------- responsive -------------------------- */

/* ----------------------------------------------------------------------------------------------------MOBILE */

@media (width < 768px) {
  .web-width {
    width: 320px;
  }
  .container {
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
/* ----------------------------------------------------------------------------------------------------TABLET */
@media (width >= 768px) and (width < 1280px) {
  .web-width {
    width: 768px;
  }
  .container {
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto;
  }
}
/* ----------------------------------------------------------------------------------------------------DESKTOP */

@media (width >= 1280px) {
  .web-width {
    width: 1280px;
  }
  .container {
    max-width: 1280px;
    padding: 0 32px;
    margin: 0 auto;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 2.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
