.movielist__nav-trends-box {
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
}

.movielist__nav-item-link {
  color: var(--orange);
}

.movielist__nav-item-link,
.movielist__nav-trends-title {
  font-weight: 500;
  font-size: 16px;
}
@media (min-width: 768px) {
  .movielist__nav-item-link,
  .movielist__nav-trends-title {
    font-size: 24px;
  }
}
@media (min-width: 1280px) {
  .movielist__nav-item-link,
  .movielist__nav-trends-title {
    font-size: 28px;
  }
}

.movielist__nav-trends-title {
  text-transform: uppercase;
  color: var(--white);
}

.movielist__movie-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.movielist-item {
  width: 280px;
  height: 406px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  background-size: cover;
}
@media (min-width: 768px) {
  .movielist-item {
    width: 224px;
    height: 324px;
  }
@media (min-width: 1280px) {
  .movielist-item {
    width: 394px;
    height: 574px;
  }
}

.movielist__movie-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.movielist__information-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
  padding: 12px;
}

.movielist__title-box {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}
@media (min-width: 1280px) {
  .movielist__title-box {
    font-size: 20px;
  }
}

.movielist__movie-title {
  text-transform: uppercase;
  color: var(--white);
}

.movielist__movie-genre {
  color: var(--grey);
}
.movielist__movie-rating {
  display: flex;
}
