.my-library__form-select {
  background-color: var(--background);
  color: var(--secondary-text-grey);
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 12px 60px 12px 20px;
  width: 144px;
  height: 44px;
  font-size: 14px;
}
