.my-lib__hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 320px) {
    min-height: 380px;
    // max-width: 480px;
  }

  background-image: linear-gradient(
      83.48deg,
      #0e0e0e 25.78%,
      rgba(14, 14, 14, 0) 60.07%
    ),
    url(/src/images/hero-hall-mobile-1x.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        83.48deg,
        #0e0e0e 25.78%,
        rgba(14, 14, 14, 0) 60.07%
      ),
      url(/src/images/hero-hall-mobile-2x.jpg);
  }

  @include tablet {
    min-height: 370px;
    // max-width: 768px;

    background-image: linear-gradient(
        83.48deg,
        #0e0e0e 25.78%,
        rgba(14, 14, 14, 0) 60.07%
      ),
      url(/src/images/hero-hall-tablet-1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          83.48deg,
          #0e0e0e 25.78%,
          rgba(14, 14, 14, 0) 60.07%
        ),
        url(/src/images/hero-hall-tablet-2x.jpg);
    }
  }

  @include desktop {
    min-height: 660px;
    // max-width: 1280px;

    background-image: linear-gradient(
        83.48deg,
        #0e0e0e 25.78%,
        rgba(14, 14, 14, 0) 60.07%
      ),
      url(/src/images/hero-hall-desktop-1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          83.48deg,
          #0e0e0e 25.78%,
          rgba(14, 14, 14, 0) 60.07%
        ),
        url(/src/images/hero-hall-desktop-2x.jpg);
    }
  }
}

.my-lib__hero-container {
  display: flex;
  flex-direction: column;
}

.my-lib__hero-title {
  display: inline-block;
  max-width: 235px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: var(--white);
  @include tablet {
    max-width: 332px;
    font-size: 44px;
    line-height: 1.18;
  }
  @include desktop {
    max-width: 464px;
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 1.17;
  }
}

.my-lib__hero-description {
  display: inline-block;
  max-width: 249px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.06;
  color: var(--secondary-text-grey);
  @include tablet {
    max-width: 357px;
    letter-spacing: 0.05;
  }
  @include desktop {
    max-width: 464px;
    letter-spacing: 0.8;
    line-height: 1.4;
  }
}

.my-lib__gallery {
  padding: 40px 0;

  @include tablet {
    padding: 90px 0 60px 0;
  }

  @include desktop {
    padding: 117px 0 96px 0;
  }
}

.my-lib__gallery-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  list-style-type: none;
  // padding-top: 48px;
  //  position: absolute;
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 320px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

.my-lib__no-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 45px 0;

  @include tablet {
    padding: 80px 0 60px 0;
  }

  @include desktop {
    padding: 160px 0 100px 0;
  }
}

.my-lib__oops-message {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  color: var(--modal--text-color);

  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 25px;
    line-height: 1.3;
  }

  @include desktop {
    margin-bottom: 30px;
    line-height: 1.12;
  }
}

.my-library__form {
  margin-bottom: 48px;
}

.my-library__form-select {
  background-color: var(--background);
  color: var(--secondary-text-grey);
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 12px 60px 12px 20px;
  width: 173px;
  height: 40px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .my-library__form-select {
    width: 144px;
    height: 44px;
  }
}
@media (min-width: 1280px) {
  .my-library__form-select {
    width: 260px;
    height: 48px;
  }
}

.library__text-1 {
  font-weight: 700;
  font-size: 32px;
  color: var(--white);
  margin-left: 20px;
  padding-top: 40px;
  max-width: 249px;
}
@media (min-width: 768px) {
  .library__text-1 {
    font-size: 44px;
    margin-left: 32px;
    padding-top: 62px;
    max-width: 332px;
  }
}
@media (min-width: 1280px) {
  .library__text-1 {
    margin-left: 117px;
    padding-top: 118px;
    font-size: 44px;
    max-width: 370px;
  }
}

.library__text-2 {
  font-weight: 400;
  font-size: 14px;
  color: var(--secondary-text);
  margin-left: 20px;
  padding-top: 8px;
  max-width: 249px;
}
@media (min-width: 768px) {
  .library__text-2 {
    font-size: 14px;
    margin-left: 32px;
    padding-top: 8px;
    max-width: 357px;
  }
}
@media (min-width: 1280px) {
  .library__text-2 {
    margin-left: 117px;
    padding-top: 8px;
    font-size: 16px;
    max-width: 464px;
  }
}

.error-lib {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.125;
  text-align: center;
  color: var(--white);
}

.library-content__wrap {
  margin-top: 160px;
}

.library-content__text {
  margin-bottom: 28px;
}

.library__btn-load {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

.cards__list-item:hover {
  box-shadow: 1px 1px 6px 4px rgba(255, 107, 8, 0.42);
  transform: scale(1.008);
}

.cards__list-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.cards__list-stars {
  display: flex;
  flex-direction: column;
}
.cards__list-item {
  position: relative;
  border-radius: 5px;
  width: 280px;
  height: 406px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .cards__list-item {
    width: 224px;
    height: 325px;
  }
}
@media (min-width: 1280px) {
  .cards__list-item {
    width: 394px;
    height: 574px;
  }
}

.herolib {
  min-width: 320px;
  height: 380px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-background);
  background-image: linear-gradient(
      83.48deg,
      #0e0e0e 25.78%,
      rgba(14, 14, 14, 0) 60.07%
    ),
    url('../images/hero-hall-mobile-1x.jpg');
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
          83.48deg,
          #0e0e0e 25.78%,
          rgba(14, 14, 14, 0) 60.07%
        ),
        url('/src/images/hero-hall-mobile-2x.jpg');
    }
  }
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    & {
      background-image: linear-gradient(
          83.48deg,
          #0e0e0e 25.78%,
          rgba(14, 14, 14, 0) 60.07%
        ),
        url('/src/images/hero-hall-mobile-3x.jpg');
    }
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 768px) {
    width: 768px;
    height: 432px;

    background-image: linear-gradient(
        83.48deg,
        #0e0e0e 25.78%,
        rgba(14, 14, 14, 0) 60.07%
      ),
      url('/src/images/hero-hall-tablet-1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            83.48deg,
            #0e0e0e 25.78%,
            rgba(14, 14, 14, 0) 60.07%
          ),
          url('/src/images/hero-hall-tablet-2x.jpg');
      }
    }
    @media (min-device-pixel-ratio: 3),
      (-webkit-min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      & {
        background-image: linear-gradient(
            83.48deg,
            #0e0e0e 25.78%,
            rgba(14, 14, 14, 0) 60.07%
          ),
          url('/src/images/hero-hall-tablet-3x.jpg');
      }
    }
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    height: 720px;
    background-image: linear-gradient(
        83.48deg,
        #0e0e0e 25.78%,
        rgba(14, 14, 14, 0) 60.07%
      ),
      // url('/src/images/hero-hall-desktop-1x.jpg');
      url('../images/hero-hall-desktop-1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            83.48deg,
            #0e0e0e 25.78%,
            rgba(14, 14, 14, 0) 60.07%
          ),
          url('../images/hero-hall-desktop-2x.jpg');
      }
      @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        & {
          background-image: linear-gradient(
              83.48deg,
              #0e0e0e 25.78%,
              rgba(14, 14, 14, 0) 60.07%
            ),
            url('../images/hero-hall-desktop-3x.jpg');
        }
      }
    }
  }
}
