/* ========================UPCOMING====================== */
.upcoming {
  padding-top: 32px;
}
@media (min-width: 768px) {
  .upcoming {
    padding-top: 44px;
  }
}
@media (min-width: 1280px) {
  .upcoming {
    padding-top: 60px;
  }
}

.upcoming h2 {
  padding-top: 32px;
  padding-bottom: 24px;
}

.upcoming__film-box {
  display: flex;
  flex-wrap: wrap;
}
@media (width >= 1280px) {
  .upcoming__film-box {
    flex-wrap: nowrap;
  }
}

.upcoming__film-box img {
  border-radius: 5px;
  width: 280px;
  height: 402px;
}
@media (width >= 768px) and (width < 1280px) {
  .upcoming__film-box img {
    width: 704px;
    height: 400px;
  }
}
@media (width >= 1280px) {
  .upcoming__film-box img {
    height: 458px;
    width: 805px;
  }
}

.upcoming__film-details {
  display: flex;
  gap: 58px;
}
.upcoming__film-rateing {
  display: flex;
  gap: 5px;
}
