<div class="team team__backdrop is-hidden">
  <div class="team__wrapper">
    <button class="team__modal-close-btn" type="button">
      <svg class="team__modal-close-icon" width="30" height="30">
        <use href="./images/spritefooter.svg#icon-x-button"></use>
      </svg>
    </button>
    <h2 class="team__title">Boolean Operators</h2>
    <ul class="team__list">
      <!-- Anita Baron -->
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/anita-baron.jpg"
            alt="Anita Baron"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Anita Baron</h2>
          <p class="team__role">Team Lead</p>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/anitabaron"
          >
            <svg class="team__icon" width="30" height="30">
              <use href="./images/spritefooter.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <!-- Maciej Wydra -->
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/maciej-wydra.jpg"
            alt="Maciej Wydra"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Maciej Wydra</h2>
          <p class="team__role">Developer</p>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/WYDERKAAA"
          >
            <svg class="team__icon" width="30" height="30">
              <use href="./images/spritefooter.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <!-- Ewelina Kompała -->
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/ewelina-kompala.jpg"
            alt="Ewelina Kompala"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Ewelina Kompała</h2>
          <p class="team__role">Developer</p>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/Eibhlina"
          >
            <svg class="team__icon" width="30" height="30">
              <use href="./images/spritefooter.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <!-- Krzysztof Malon -->
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/krzysztof-malon.png"
            alt="Krzysztof Malon"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Krzysztof Malon</h2>
          <p class="team__role">Developer</p>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/cygan3107"
          >
            <svg class="team__icon" width="30" height="30">
              <use href="./images/spritefooter.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <!-- Kamil Amin -->
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/kamil-amin.jpg"
            alt="Kamil Amin"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Kamil Amin</h2>
          <p class="team__role">Developer</p>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/KamilAminGoIt/"
          >
            <svg class="team__icon" width="30" height="30">
              <use href="./images/spritefooter.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <!-- Daniel Sz -->
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/daniel-sz.jpeg"
            alt="Daniel Szul"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Daniel Szul</h2>
          <p class="team__role">Developer</p>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/amper00"
          >
            <svg class="team__icon" width="30" height="30">
              <use href="./images/spritefooter.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <!--  -->
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/maciej-wydra.jpg"
            alt="Maciej Wydra"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Maciej Wydra</h2>
          <p class="team__role">Developer</p>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/WYDERKAAA"
          >
            <svg class="team__icon" width="30" height="30">
              <use href="./images/spritefooter.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <!--  -->
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/ewelina-kompala.jpg"
            alt="Ewelina Kompala"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Ewelina Kompała</h2>
          <p class="team__role">Developer</p>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/Eibhlina"
          >
            <svg class="team__icon" width="30" height="30">
              <use href="./images/spritefooter.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <!--  -->
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/krzysztof-malon.png"
            alt="Krzysztof Malon"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Krzysztof Malon</h2>
          <p class="team__role">Developer</p>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/cygan3107"
          >
            <svg class="team__icon" width="30" height="30">
              <use href="./images/spritefooter.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <!--  -->
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            src="./images/kamil-amin.jpg"
            alt="Kamil Amin"
            loading="lazy"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Kamil Amin</h2>
          <p class="team__role">Developer</p>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/KamilAminGoIt/"
          >
            <svg class="team__icon" width="30" height="30">
              <use href="./images/spritefooter.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <!--  -->
    </ul>
  </div>
</div>
