<!-- Header jest wstawiony wprost w poszczególne strony html, jako core -->
<!-- -->
<!-- -->
<!-- <nav class="header__nav">
  <ul class="header__nav-list">
    <li class="header__nav-item">
      <a href="./index.html" class="header__nav-link">Home</a>
    </li>
    <li class="header__nav-item">
      <a href="./catalog.html" class="header__nav-link">Catalog</a>
    </li>
    <li class="header__nav-item">
      <a href="./my-library.html" class="header__nav-link">My library</a>
    </li>
  </ul>
</nav> -->
