<!DOCTYPE html>
<!--plik stworzony do podglądu ikonek-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: rgb(214, 214, 233)">
    <svg>
      <use href="../images/icons_desktop.svg#icon_close_outline_white">
        <!--po powyższym " trzeba odpowiednio wpisać parametry
      width="" height="" i zamknąć >
      w zależności gdzie ikony są stosowane-->
        >
      </use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_close_outline_black"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_close_outline_hover"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_black_forward"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_grey_forward"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_white_forward"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_black_three_dots"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_grey_three_dots"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_black_circle"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_grey_linear_circle"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_grey_circle"></use>
    </svg>

    <svg>
      <use href="../images/icons_desktop.svg#icon_star_outline_small"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_star_outline_medium"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_star_outline_large"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_star_half_small"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_star_half_medium"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_star_half_large"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_star_small"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_star_medium"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_star_large"></use>
    </svg>
    <svg>
      <use href="../images/icons_desktop.svg#icon_heart"></use>
    </svg>
  </body>
</html>
