<div class="herolib">
  <h2 class="library__text-1">Create Your Dream Cinema</h2>
  <p class="library__text-2">
    Is a guide to designing a personalized movie theater experience with the
    right equipment, customized decor, and favorite films. This guide helps you
    bring the cinema experience into your own home with cozy seating, dim
    lighting, and movie theater snacks.
  </p>
</div>

<section class="library-section container">
  <div class="library-content__section">
    <form class="my-library__form" id="mylibraryForm">
      <select
        class="my-library__form-select"
        name="catalogGenre"
        id="catalogGenre"
      >
        <option value="">Genre</option>
        <option value="comedy">Romance</option>
        <option value="comedy">Detective</option>
        <option value="comedy">Thriller</option>
        <option value="comedy">Action</option>
        <option value="comedy">Documentary</option>
        <option value="comedy">Horror</option>
        <option value="comedy">Comedy</option>
        <option value="drama">Drama</option>
      </select>
    </form>
    <div class="mylib-gallery library-content gallery-hidden">
      <ul
        class="mylib-gallery__list catalog my-lib__gallery-list movielist__movie-card-list"
        id="my-lib-gallery-list"
      ></ul>
      <button
        class="btn btn__big btn__orange-gradient library__btn-load"
        id="mylibraryLoadMore"
      >
        Load more
      </button>
    </div>
  </div>
  <div class="my-lib__no-movies is-hidden">
    <div div class="library-content error-lib" id="is-hidden">
      <div class="library-content__wrap">
        <p class="library-content__text">
          OOPS... <br />
          We are very sorry! <br />
          You don't have any movies at your library.
        </p>
        <button
          type="button"
          class="catalog__search-link btn btn__big btn__orange-gradient"
        >
          <a class="catalog__search-link" href="./catalog.html">Search movie</a>
        </button>
      </div>
    </div>
  </div>
</section>
