<!-- <div
  class="library-section"
  style="
    background-image: linear-gradient(
        86.77deg,
        rgb(17, 17, 17) 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      url(https://image.tmdb.org/t/p/original${backdrop_path});
  "
> -->
<div class="herolib">
  <h2 class="library__text-1">Create Your Dream Cinema</h2>
  <p class="library__text-2">
    Is a guide to designing a personalized movie theater experience with the
    right equipment, customized decor, and favorite films. This guide helps you
    bring the cinema experience into your own home with cozy seating, dim
    lighting, and movie theater snacks.
  </p>
</div>

<section class="library-section container">
  <div class="library-content__section">
    <div class="mylib-gallery library-content gallery-hidden">
      <ul class="mylib-gallery__list catalog"></ul>
    </div>
    <div class="library-content error-lib is-hidden" id="is-hidden">
      <div class="library-content__wrap">
        <p class="library-content__text">
          OOPS... <br />
          We are very sorry! <br />
          You don't have any movies at your library.
        </p>
        <button
          type="button"
          class="catalog__search-link btn btn__big btn__orange-gradient"
        >
          <a class="catalog__search-link" href="./catalog.html">Search movie</a>
        </button>
      </div>
    </div>
  </div>
</section>
